.popular-container {
    width: 95%;
    height: 350px;
    background-color: black;
    margin: 5px auto 0 auto;  
}
.popular-heading{
    color: white;
    font-size: 25px;
    font-weight: bold;
    padding: 5px 10px 0 10px  ;
}
.popular-items{
    display: flex;
    overflow-y: auto;
    gap: 10px;
    margin-left: 10px;
    margin-right: 10px;
    scrollbar-width: none;
}
.poster{
    width: 220px;
    height: 270px;
    border-radius: 5px;
}
.popular-items::-webkit-scrollbar{
    display: none;
}