.oscar-container{
    width: 95%;
    height: 500px;
    background-color: black;
    margin: 10px auto 10px auto;
}
.oscar-heading{
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin: 10px 10px 10px 10px;
}
.oscar-items{
    display: flex;
    overflow-y: auto;
    scrollbar-width: none;
}
.oscar-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    width: 500px;
    height: 400px;
    min-width: 500px;
    border-radius: 10px;
    border: solid 2px gray;
    padding: 10px;
    background-color: #1a1a1a;
    color: white;
    margin-left: 10px;
}
.oscar-image{
    height: 370px;
    width: 230px;
}
.oscar-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}